@charset "UTF-8";

body {
background-color: #393E46;
color: #EEEEEE;
font-family:'Lucida Grande',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3',
 Meiryo, メイリオ, sans-serif;
}

a, a:hover, a:visited {
color: #DE703C;
}

h1, h2, h3 ,h4 {
text-align: center;
}

th{
text-align:center;
padding: 2px 4px 1px 4px;
background-color: #222831;
border: 1px #808080 solid;
color: #FBB040;
white-space: nowrap;
font-weight: normal;
}

.label{
text-align:center;
margin: 2px;
padding: 4px 5px 1px 5px;
background-color: #505050;
border: 2px outset #e0f0f0;
color: #ffffff;
font-size: 14pt;
white-space: nowrap;
font-weight: normal;
}

td{
border: 1px #808080 solid;
padding: 2px 4px 1px 4px;
text-align:right;
}

.tdata_l{
text-align:left;
}

.wrapper {
margin: 0 auto;
}

.hint {
font-size: 20pt;
}

.teamown {
float: left;
width: 50%;
}

.teamown li {
float: left;
}

.teamene {
float: left;
width: 50%;
}

.teamene li {
float: left;
}
.player:hover {
box-shadow: 0px 0px 5px 0px #222831;
}

.player {
padding: 1px 4px 1px 4px;
margin: 0px;
}

.player .ship_st_def {
	margin: 1px 0p;
}
.player .AirCarrier_bg {
background-color: #107050;
}
.player .Battleship_bg {
background-color: #602130;
}
.player .Cruiser_bg {
background-color: #606010;
}
.player .Destroyer_bg {
background-color: #104080;
}

.player .class1 {
color: #FE0E00;
}
.player .class2 {
color: #FE7903;
}
.player .class3 {
color: #F8F400;
}
.player .class4 {
color: #60FF00;
}
.player .class5 {
color: #02C9B3;
}
.player .class6 {
color: #E042E8;
}

.player .cp_class1 {
color: #FE0E00;
}
.player .cp_class2 {
color: #FE7903;
}
.player .cp_class3 {
color: #F8F400;
}
.player .cp_class4 {
color: #60FF00;
}
.player .cp_class5 {
color: #02C9B3;
}
.player .cp_class6 {
color: #E042E8;
font-weight: bold;
}
.player .cp_class7 {
color: #FFD0FF;
font-weight: bold;
}

.highlight_normal {
background-color: #102010;
}
.highlight_danger {
background-color: #503090;
}

.highlight_owner {
border: 3px #FFFFFF double;
}
.highlight_others {
border: 2px #808080 solid;
}

.player .shipclass {
color: #FBB040;
font-size: 11pt;
white-space: nowrap;
font-weight:normal;
}

.player .ship_font_6 {
letter-spacing: 0.2em; 
font-size: 11pt;
color:#eeeeee;
font-weight:normal;
}

.player .ship_font_9 {
font-size: 11pt;
color:#eeeeee;
font-weight:normal;
}

.player .ship_font_14 {
font-size: 10pt;
color:#eeeeee;
white-space: nowrap;
font-weight:normal;
}

.player .ship_font_20 {
font-size: 8pt;
color:#eeeeee;
white-space: nowrap;
font-weight:normal;
}

.player .key {
color: #FBB040;
white-space: nowrap;
}

.player .small {
font-size: 9pt;
}

.buttonset {
Sclear:both;
text-align: center;
width: 100%;
border:1px
padding:10px

}
.buttonpro1{
margin : 10px;
}
.buttonitem1_on{
color:#000000;
border:inset 3px;
}
.buttonitem1_off{
color:#000000;
border:outset 3px;
}
.disp_off{
display:none;
}

.ss_button{
	background: -moz-linear-gradient(top,#BFD9E5, #3D95B7 50%,#0080B3 50%,#0099CC);
	background: -webkit-gradient(linear, left top, left bottom, from(#BFD9E5), color-stop(0.5,#3D95B7), color-stop(0.5,#0080B3), to(#0099CC));
	color: #FFFFFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #0099CC;
	-moz-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(000,000,000,0.3),inset 0px 0px 3px rgba(255,255,255,0.5);
	text-shadow: 0px 0px 3px rgba(0,0,0,0.5);
	margin-left: 8px;
	padding: 3px 5px;
}

.buttonpro2{
margin-left : 20px;
margin-right : 20px;
padding : 5px;
}
.buttonitem2{
color: #EEEEEE
}

.footer {
clear: both;
padding: 10px ;
text-align: center;
width: 100%;
}
